div#btn-add{
    position: relative;
    float: right;
    margin: 20px auto;
}


a#active_doing{
    background-color: darkgrey;
    color: #ffffff;
}

#active_done{
    background-color: darkgrey;
    color: #ffffff;
}

div#main-content{
    position: relative;
    margin-left: 60%;
}

