div#btn-add{
    position: relative;
    float: right;
    margin: 20px auto;
}

a#active_doing{
    background-color: rgb(240, 240, 240, 0.5);
    color: #ffffff;
}

#active_done{
    background-color: rgb(240, 240, 240, 0.5);;
    color: #ffffff;
}

div#main-content{
    position: relative;
    margin-left: 60%;
}

