{% extends 'base.html' %}

{% block title %}{{ super() }} - Index{% endblock %}


{% block content %}
    <main role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="container-fluid bg-primary w-100">
          <div id="main-content" class="w-100 col-md-4 text-white my-5 py-5 ml-5">
            <h2 class="text-uppercase">A SenseData garante o seu <strong>sucesso</strong>
               através do sucesso dos seus<strong>clientes</strong>
            </h2>
            <p>O software de Customer Success do
               Brasil, usando tecnologia para construir
               relacionamentos de confiança entre a sua
               empresa e os seus clientes.
            </p>
            <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
          </div>
        </div>
    
        <div class="container">
          <!-- Example row of columns -->
          <div class="row  w-100">
            <div class="col-md-4 col-lg-4 shadow-lg p-3 my-3 mr-3 ml-auto rouded border">
              <h2>Cadastro</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-primary" href="{{ url_for('register') }}" role="button">Resgister &raquo;</a></p>
            </div>
            <div class="col-md-4 col-lg-4 shadow p-3 my-3 ml-3 mr-auto rouded border">
              <h2>Login</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-primary" href="{{ url_for('login') }}" role="button">Enter &raquo;</a></p>
            </div>
          </div>

          <br><br><br><br>
          <br><br><br><br>
          <hr>
          <br>
      
        </div> <!-- /container -->
    </main>
{% endblock %}