{% extends 'base.html' %}

{% block title %}Login {% endblock %}

{% block content %}
<br><br><br>
<div class="container mt-5 col-md-4 mx-auto">
    <h1>Login</h1><br>
    <form action="" method="POST">
        {{ myform.csrf_token }}
        <div class="form-group">
            <label>Username</label>
            {{ myform.username(class="form-control", placeholder="Enter your username") }}
            {% if myform.errors.username %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ myform.errors.username }}
                </div>
            {% endif %}
            
        </div>
        <div class="from-group">
            <label>Password</label>
            {{ myform.password(class="form-control", placeholder="Enter your password")}}
        </div>
        <div class="form-check my-4 ml-0">
            <label class="form-check-label">
                {{ myform.remember_me }} Remember me
            </label>
        </div>  

        <button type="submit" class="btn btn-primary px-5 w-50">Submit</button>
    </form>
    <div class="container">
        <br><br><br><br>
        <br><br><br><br>
        <hr>
        <br>
    </div>
   
</div>

{% endblock %}