{% extends 'base.html' %}

{% block title %}{{ super() }} - Register {% endblock %}

{% block content %}
<br><br><br>
<div class="shadow-lg p-5 container mt-5 col-md-4 mx-auto rounded">
    <h1 class="text-dark">Register</h1><br>
    <form action="" method="POST">

        {{ myform.csrf_token }}

        <div class="form-group">
            <label>Username</label>
            {{ myform.username(class="form-control", type="text", placeholder="Enter your username") }}
            {% if myform.errors.username %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ myform.errors.username }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Full Name</label>
            {{ myform.name(class="form-control", type="text", placeholder="Enter your name") }}
            {% if myform.errors.name %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ myform.errors.username }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Email</label>
            {{ myform.email(class="form-control", type="email", placeholder="Enter your email") }}
            {% if myform.errors.email %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ myform.errors.email }}
                </div>
            {% endif %}
        </div>

        <div class="from-group">
            <label>Password</label>
            {{ myform.password(class="form-control", placeholder="Enter your password")}}
        </div>
        <br>

        <div class="from-group">
            <label>Confirm Password</label>
            {{ myform.confirm_pwd(class="form-control", placeholder="Confirm your password")}}
        </div>
        <br><br>

        <button type="submit" class="btn btn-primary px-5 w-100">Register</button>
    </form>   
</div>
<br><br><br><br>
<br><br><br><br>
<div class="container mx-auto border border-bottom border-dark">
</div>
<br>

{% endblock %}