{% extends 'base-dashboard.html' %}

{% block title %}{{ super() }} - Task Done{% endblock %}


{% block content %}
<main role="main" class="shadow-lg bg-dark rounded">
    <!-- Main Container -->
    <div class="shadow-lg container bg-dark text-white py-5 rounded">
        <div class="container ml-4">
           <h1 class="display-4 font-weight-bolder text-capitalize">Welcome to todo list!</h1>
           <p>Manage your tasks here. Make a CRUD as you want.</p>
        </div>
    </div>

    <div class="shadow-lg container w-100 row mx-auto rounded">
        <div class="shadow-lg w-25 row border border-secondary py-5 mb-auto ml-0 bg-white rounded">
            <div class="list-group rounded mx-auto my-auto">
                <a class="shadow-lg border list-group-item list-group-item-action text-dark font-weight-bolder text-uppercase p-3 mb-4 rounded" href="{{ url_for('task_doing') }}">tarefas em execução</a>  
                <a id="active_done" class="shadow-lg border list-group-item list-group-item-action text-dark font-weight-bolder text-uppercase p-3 mb-3 rounded" href="{{ url_for('task_done') }}">tarefas concluídas</a>
            </div>
        </div>

        <!-- Tasks area -->
        <div class="w-75 mx-auto">
            <div id="all-task" class=" row col col-sm-8 col-md-8 col-lg-8 col-xl-8 text-white text-capitalize ml-2">
                <h2 class="display-7 text-white text-capitalize font-weight-bolder mb-3 p-3">Tarefas concluídas</h2> 
                {% for t in tasks[::-1] %}
                    {% if t.done_status == True %}
                        <div class="ml-4 text-white text-capitalize w-100 border-bottom mb-4">
                            <a  title="Click to update this task" class="text-decoration-none text-white" href="{{ url_for('task_pre_update', task_id=t.id) }}">
                                <h5><strong>{{ t.task_name }}</strong></h5>
                            </a>
                            <p class="d-inline">Deadline: &nbsp;&nbsp; <strong>Done</strong>
                              <form class="d-inline ml-5" method="POST" action="{{ url_for('task_done') }}">
                                  <label class="form-check-label">
                                     <input type="radio" class="form-check-input" name="inputRadio" checked>Done
                                  </label>
                                  <input type="hidden" name="optHidden" value="done">
                                  <input type="hidden" name="optDoneId" value="{{ t.id }}">
                              </form> 

                              <form method="POST" action="{{ url_for('task_delete') }}" class="d-inline ml-5" >
                                <input type="hidden" name="optHidden" value="remove">
                                <input type="hidden" name="optRemoveId" value="{{ t.id }}">
                                <button type="submit" class="btn btn-dark">Remove</button>
                              </form> 
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br><br><br>
    </div> <!-- /container -->
    <br><br><br>
    <br><br><br>
</main>
{% endblock %}